
.container {
	/*background: orange;*/

	/*padding: 48px 24px;*/
}

.locked {
	/*min-height: calc(100vh - env(safe-area-inset-bottom));*/
	height: 100vh;
}

.header {
	display: flex;
	/*background: red;*/
}

.heading {
	font-size: 18px;
	line-height: 18px;
	/* identical to box height, or 100% */

	letter-spacing: 0.06em;
	text-transform: uppercase;

	flex: 1 1 auto;
}

.menuBtn {
	background: transparent;
	position: relative;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	white-space: nowrap;
	text-decoration: none;
	/*padding: 0.25rem 0.5rem;*/
	/*margin: 0.25rem;*/
	cursor: pointer;

	height: 32px;
	width: 32px;

	z-index: 9999;
	/*opacity: 0.2;*/
}

.menuBtn::after {
	content: '';
	display: block;
	background: black;
	border-radius: 2px;
	width: 32px;
	height: 1px;
	position: absolute;
	bottom: 8px;
	left: 0;
	z-index: 9999;
	transform-origin: left;
	transition: transform 400ms ease;

	/*transform: translateX(-50%);*/
}

.menuBtn::before {
	content: '';
	display: block;
	background: black;
	border-radius: 2px;
	width: 32px;
	height: 1px;
	position: absolute;
	top: 8px;
	left: 0;
	z-index: 9999;
	transform-origin: left;
	transition: transform 400ms ease;

	/*transform: translateX(-50%);*/
}

.menuBtnOpen {}
.menuBtnOpen::before {
	transform: rotate(45deg) translateY(-5px);
}
.menuBtnOpen::after {
	transform: rotate(-45deg) translateY(5px);
}


.sheet {
	background: #F2F2F2;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 100vh;
	width: 100%;

	padding: 48px 24px;
}

.hidden {
	display: none;
}

.menuList {
	padding: 24px 0;
	display: grid;

	row-gap: 12px;
}

.menuLink, .menuLink:link, .menuLink:visited {
	/*background: orange;*/
	display: block;
	padding: 8px 0px;

	text-decoration: underline;
	color: #595959;
}


.menuLink:hover, .menuLink:active {
	color: black;
}


